.input {
  padding: 10px;
  height: 40px;
  border: 1px solid #005B3F;
  border-radius: 10px;
  width: 100%;
  font-size: 17px;
  line-height: 21px;
  display: block;

  &::placeholder {
    color: #C1C1C1;
  }

  &__wrapper {
    width: 100%;
    display: inline-block;
  }

  &__label {
    color: #676767;
    font-size: 8px;
    line-height: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    display: block;
    text-align: left;
  }
}
