<div class="chat-preview">
  <div class="chat-preview__avatar"></div>

  <div class="chat-preview__main">
    <h4 class="chat-preview__name">{{ name }}</h4>
    <p class="chat-preview__message">
      {{ message }}
    </p>
  </div>

  <div class="chat-preview__time">
    {{ time }}
  </div>
</div>
