<section class="chat">
  <div class="chat__header">
    {{{ chatHeader }}}
  </div>

  <div class="chat__history">
    {{{ chatHistory }}}
  </div>

  <div class="chat__new-message">
    {{{ newMessage }}}
  </div>
</section>
