<main class="main-page">
  <aside class="main-page__sidebar">
    <div class="main-page__dialogues-list">
      {{{ chatList }}}
    </div>

    <div class="main-page__navbar">
      {{{ navbar }}}
    </div>
  </aside>

  <div>
    Main page
  </div>
</main>
