<form class="general-info-settings">
  <div class="general-info-settings__fields">
    {{#each inputList}}
      {{{ this }}}
    {{~/each}}
  </div>

  <div class="general-info-settings__buttons">
    {{#each buttonList}}
      {{{ this }}}
    {{~/each}}
  </div>
</form>
