$accent: #005B3F;
$accentLight: #EDFFF1;
$accentDark: #003122;
$background: #FFFFFF;
$error: #8F3030;
$grayBG: #F9F9F9;
$grayDisabled: #C3C3C3;
$grayPreview: #D9D9D9;
$blue: #0025EA;
$textBaseColor: #000000;
