<main class="auth-page {{ class }}">
  <aside class="auth-page__side-block">
    <h1 class="auth-page__title">
      Green <br> Messenger
    </h1>
  </aside>

  <div class="auth-page__content">
    <div class="auth-page__form">
      <h2 class="auth-page__form-title">
        {{ title }}
      </h2>

      {{{ content }}}
    </div>
  </div>
</main>
