@import "/src/ui-kit/colors";

.auth-page {
  height: 100vh;
  display: flex;

  &._revert { flex-direction: row-reverse; }
  &._revert &__side-block { justify-content: flex-start; }
  &._revert &__title { text-align: left; }

  &__side-block {
    width: 50%;
    background-color: $accent;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__title {
    font-size: 50px;
    line-height: 61px;
    text-align: right;
    color: $background;
    text-transform: uppercase;
  }

  &__content {
    padding: 20px;

    display: flex;
    align-items: center;
  }

  &__form {
    border: 3px solid $accent;
    border-radius: 10px;
    padding: 40px 20px;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    &-title {
      font-size: 30px;
      line-height: 36px;
      color: $accent;
      text-align: center;
      margin-bottom: 10px;
    }
  }

}
