<article class="auth-page">
  <aside class="auth-page__side-block">
    <h1 class="auth-page__title">
      Green <br> Messenger
    </h1>
  </aside>

  <div class="auth-page__content">
    {{#if registration}}
      {{{ registrationForm }}}
    {{else}}
      {{{ authForm }}}
    {{/if}}
  </div>
</article>
