<div class="message__wrapper {{ ownerClass }}">
  <div class="message {{ ownerClass }}">
    <p class="message__text">
      {{ text }}
    </p>

    <div class="message__info">
      <span class="message__time">
        {{ time }}
      </span>
    </div>
  </div>
</div>
