<form class="new-message">
  {{{ addFileButton }}}

  <textarea
    name="message"
    placeholder="My new message..."
    class="new-message__input"
  ></textarea>

  {{{ sendMessageButton }}}
</form>
