<header class="chat-header">
  <div class="chat-header__avatar"></div>

  <h4 class="chat-header__name">Имя пользователя</h4>

  <div class="chat-header__actions">
    {{{ actionButton }}}
  </div>
</header>
